@import url("https://fonts.googleapis.com/css?family=Baskervville&display=swap");
@import "./normalize";
@import "./skeleton";

*,
*:after,
*:before {
  box-sizing: border-box !important;
}

#root {
  min-height: 100vh;
  height: auto;
  position: relative;
  padding: 2rem;
  font-family: "Baskervville", serif;
}

.center {
  text-align: center;
  margin: 1rem 0;
}

.auth {
  margin: 2rem 0;
  &__form {
    box-sizing: border-box;
    padding: 1rem;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
}

.loader {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  * {
    margin: 0;
  }
  box-shadow: 5px 5px 13px -2px #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  h1 {
    font-size: 28px;
  }

  .auth-btns {
    display: flex;
    justify-content: space-between;
    width: 150px;

    a {
      text-decoration: none;
      font-size: 20px;
    }
  }
}

// Main Section
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  flex-direction: column;
  height: auto;
  margin: 2rem 0;

  h2 {
    font-size: 20px;
    font-weight: 300;
  }
}
