@import './normalize';
@import './skeleton';

*,
*:after,
*:before {
	box-sizing: border-box !important;
}

.center {
	text-align: center;
	margin: 1rem 0;
}

.auth {
	&__form {
		box-sizing: border-box;
		padding: 1rem;
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
	}
}
