@import "./normalize";
@import "./skeleton";

*,
*:after,
*:before {
  box-sizing: border-box !important;
}

#root {
  min-height: 100vh;
  height: auto;
  position: relative;
  padding: 2rem;
}

.center {
  text-align: center;
  margin: 1rem 0;
}

.auth {
  margin: 2rem 0;
  &__form {
    box-sizing: border-box;
    padding: 1rem;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
}

.loader {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  * {
    margin: 0;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  h1 {
    font-size: 36px;
  }

  .auth-btns {
    display: flex;
    justify-content: space-between;
    width: 150px;

    a {
      text-decoration: none;
      font-size: 20px;
    }
  }
}
