import React from 'react';
<% if ( boilerplate !== 'React + Node' ) {%>
import { BrowserRouter as Router, Switch, Route } from 'react-router-dom';

import Header from './components/Header';
import Home from './components/Home';
import About from './components/About';
import Contact from './components/Contact';
<% } %>
import './sass/app.scss';

<% if ( boilerplate !== 'React + Node' ) {%>
const App = () => (
  <Router>
    <Header />
    <Switch>
      <Route path="/" exact component={Home} />
      <Route path="/about" component={About} />
      <Route path="/contact" component={Contact} />
    </Switch>
  </Router>
);
<% } else { %>
const App = () => {
  return(
    <h1>Welcome to React and Node boilerplate.</h1>
  );
}
<% } %>

export default App;
