h1 {
	color: brown;
	font-size: 25px;
	font-family: 'Courier New';
}

h2 {
	color: green;
}

p {
	color: blue;
}

#second-para {
	color: red
}

.border-2 {
	border: 3px double red;
}

.border-green {
	border-color: green
}