.exercise-header {
	margin-left: 20px;
}

.box {
	height: 100px;
	width: 100px;
	background: red;
	display: inline-block;
	margin: 20px;
}

.border-solid {
	border: 5px solid #000;
}

.border-double-line {
	border: 5px double #000;
}

.border-dashed {
	border: 5px dashed #000;	
}

.border-dotted {
	border: 5px dotted #000;
}